{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block content %}

{% include 'notification.html'%}
  <div class="align-self-center mr-auto">
    <br> <br><br>
    <div class="align-items-center">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <form action="/login" method="POST">
            {{ form.csrf_token }}
            <div class="container">
              <h1 class="fs-4 card-title fw-bold mb-5">Log In</h1>
              <div class="mb-">
                {{ wtf.form_field(form.email, type="text", class="form-control") }}
                <div class="invalid-feedback">
                  Username is invalid
                </div>
              </div>
                
              <div class="mb-3">
                {{ wtf.form_field(form.password, type="password", class="form-control") }}
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>
          
              <div class="mb-6" align="center">
                  {{ wtf.form_field(form.login, type="submit", class="btn btn-dark btn-lg rounded-0 py-2 px-4") }}
          
              </div>
          
              <br>
          
              <div class="card-footer py-3 border-0">
                <div class="text-center">
                  <h5>Forget Password? <a href="{{url_for('forget')}}" class="text-dark">Click Here</a></h5>
                  <h5>Still can't log in? <a href="#" class="text-dark">Contact Us</a></h5>
                  
                  
                </div>
              </div>
          
              <div class="text-center mt-5 text-muted">
                Cardiff Univeristy &copy; 2022-2023
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>






  {% endblock content %}

